{{define "home"}}
<!DOCTYPE html>
<html lang="en">

<head>
    {{template "head" .}}
</head>

<body>
    <div class="shell fill background">
        {{template "sidebar" .}}

        <!-- MAIN CONTENT -->
        <div class="content fill">
            <div class="fill header-height">
                <main>
                    <article>
                        <header id="welcome-to-pvptv" class="page-title header-page center">
                            <div class="center middle">
                                <img class="icon-left" src="/assets/logo.png" style="width:100px;height:100px;">
                                <h1>PvPtv</h1>
                            </div>
                        </header>
                        <div class="separator"></div>

                        <!-- Welcome Content -->
                        <div id="welcome-to-pvptv" class="home-welcome">
                            <div class="welcome-header">
                                <h2 class="title">Welcome!</h2>
                                {{if .OnlineCount}}
                                <div class="online-counter">
                                    <span class="online-dot"></span>
                                    <span class="online-text">{{.OnlineCount}} streamers online</span>
                                </div>
                                {{end}}
                            </div>
                            <br>
                            <br>
                            <p class="text">PvPtv is an app created to help the world of warcraft
                                pvp community find the best arena streamers at any moment. It provides a list of the
                                best known wow arena's streamers for each class, and casts their stream directly from
                                twitch.com</p>
                            <br>
                            <p class="text">The idea behind this web application was to finally have an easy solution to
                                the eternal question posted on pvp communities:</p>
                            <p class="text">"Do you know a good streamer for x class?" Now you do! And among the vast
                                list of streamers stored on PvPtv, there will always be a gladiator streaming!
                                (hopefully)</p>
                        </div>

                        <!-- Featured Stream -->
                        <div class="featured-stream-container">
                            {{if .FeaturedStream}}
                            <h2 class="title">Featured Stream: {{.FeaturedStream.displayName}}</h2>
                            <div class="featured-embed">
                                <div id="twitch-embed"></div>
                                <script src="https://player.twitch.tv/js/embed/v1.js"></script>
                                <script type="text/javascript">
                                    new Twitch.Player("twitch-embed", {
                                        channel: "{{.FeaturedStream.login}}",
                                        width: "100%",
                                        height: "100%",
                                        layout: "video",
                                        autoplay: true,
                                        parent: ["pvptv.hnts.dev", "localhost"]
                                    });
                                </script>
                            </div>
                            {{else}}
                            <h2 class="title">Featured Stream</h2>
                            <div class="featured-embed">
                                <div id="twitch-embed"></div>
                                <script src="https://player.twitch.tv/js/embed/v1.js"></script>
                                <script type="text/javascript">
                                    new Twitch.Player("twitch-embed", {
                                        channel: "pikabooirl",
                                        width: "100%",
                                        height: "100%",
                                        layout: "video",
                                        autoplay: false,
                                        parent: ["pvptv.hnts.dev", "localhost"]
                                    });
                                </script>
                            </div>
                            {{end}}
                        </div>

                        <div class="separator"></div>
                    </article>
                </main>
            </div>
        </div>
    </div>
    <div class="support">
        <div class="sticky-pic-thrall">
            <img src="/assets/thrall_dude_paysage.png" alt="thrall">
        </div>
        <div class="sticky-pic-quest">
            <img src="/assets/quest-icon.jpg" alt="quest">
        </div>
        <a class="default" href="/suggest-streamer">
            <h3 class="h3 glow">STREAMERS WANTED</h3>
            <p class="subtext glow">Share a pvp streamer you like with us.</p>
        </a>
    </div>
</body>

</html>
{{end}}